@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
.App {
  text-align: center;
}

.text-center {
  border: 1px solid silver !important;
  width: 50% !important;
  margin: auto !important;
  margin-bottom: 5px !important;
}

.wrapper {
  position: relative;
}

.spinner1 {
  /* display: flex; */
  position: absolute;
  margin-top: 30vh;
  margin-left: auto !important;
}
