@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

.original-button {
  background-image: linear-gradient(to right, #8b5c00, #ffb000);
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  border: solid 1px #c78900 !important;
  margin-bottom: 10px;
  outline: none !important;
  box-shadow: 0px 1px 2px 1px grey !important;
}

.original-button:hover {
  background-image: linear-gradient(to right, #8b5c00, #ffb000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid 1px #c78900;
}

.original-button:focus {
  outline: none !important;
  border: solid 1px #c78900 !important;
  box-shadow: 0px 1px 1px 1px grey !important;
}

.original-button:active,
.original-button:visited {
  transform: translateY(1px);
  box-shadow: 0px 1px 0px 0px grey !important;
}

.App {
  text-align: center;
}

.text-center {
  border: 1px solid silver !important;
  width: 50% !important;
  margin: auto !important;
  margin-bottom: 5px !important;
}

.wrapper {
  position: relative;
}

.spinner1 {
  /* display: flex; */
  position: absolute;
  margin-top: 30vh;
  margin-left: auto !important;
}
