.layout {
  border-radius: 10px;
  font-family: "Cairo", sans-serif inherit;
  font-weight: bold;
}

.containter {
  z-index: 5;
}

.backgroundLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.06;
  size: 100%;
  z-index: 1;
}

.title {
  margin: auto;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: inherit;
}

.icons {
  color: #d49747;
  font-size: 1.3em;
  margin: 1px;
}

.titleIcon {
  margin: 1px;
}

.registrationButtons {
  margin: auto;
  padding: 7px;
}

.createButton {
  margin: auto;
  font-weight: inherit;
  font-family: inherit;
  font-size: 0.8rem;
  width: 110%;
  border-radius: 23px;
  background-color: unset !important;
  font-weight: bold;
  border: #d49747 solid 1px !important;
  color: #d49747 !important;
  transition: 100ms ease-in;
  box-shadow: unset !important;
  -webkit-transition: 100ms ease-in;
  -moz-transition: 100ms ease-in;
  -ms-transition: 100ms ease-in;
  -o-transition: 100ms ease-in;
}

.createButton:hover {
  background-color: #d49747 !important;
  color: white !important;
}

.createButtonActive {
  background-color: #d49747 !important;
  color: white !important;
}

.submit {
  width: 70%;
}

.input {
  background-color: rgba(185, 185, 185, 0.233);
  width: 100%;
  height: 80%;
  min-height: 30px;
  font-size: 0.8rem;
  padding: 0 3px;
  border-radius: 7px;
}

.input .link,
.input .description {
  width: 90%;
}
.label {
  padding-left: 10px;
}

.formStyle {
  direction: rtl;
  text-align: right;
  margin-bottom: 30px !important;
}

.group {
  margin-bottom: 20px;
}

.footer {
  height: 1.7rem;
}

.modalButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #00ead3;
  border: none;
  margin: auto;
  padding: 8px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  position: fixed;
  bottom: 1.5rem;
  right: 6rem;
  box-shadow: 0px 0px 12px #999999;
  transition: 300ms ease;
}

.forget {
  font-weight: bold;
  font-size: small;
  color: #d49747 !important;
  margin: auto;
}

.forget:hover {
  color: #d49747;
  filter: brightness(0.75);
}

.modalButton:hover {
  transform: scale(1.05);
}
.modalButton:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 420px) {
  .layout {
    font-size: 13px;
  }

  .title {
    font-size: 21px;
  }
}
