.bookCard {
  display: grid;
  grid-template-columns: repeat(4, auto);
  font-family: "Cairo", sans-serif;

  /* grid-auto-rows: 50px; */
  /* column-gap: 1rem; */
}

.card {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px 0 rgb(216, 213, 213);
  height: 380px;
}

.bookImage {
  width: 40%;
}

.bookName {
  margin-top: 7px;
  padding: 3px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* .author {
} */

.authorCustom {
  color: blue;
  font-weight: bold;
}

.status {
  font-weight: bold;
}
