.text {
  background-image: linear-gradient(to right, #8b5c00, #ffb000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 3px;
}

.button {
  background-image: linear-gradient(to right, #8b5c00, #ffb000);
  border: none;
  margin-bottom: 10px;
}

.button:hover {
  background-image: linear-gradient(to right, #8b5c00, #ffb000);
  background-clip: text;
}
